.header.grid.header-no-patternlab {
    position: fixed;
}

.header .header-logo img {
    height: auto;
}

.section {
    display: none;
}

.header .header-sidebar-trigger-text {
    font-size: 16px;
}

.header .header-main-container.hide-on-mobile-and-tablet .header-logo a {
    display: flex;
}

.header .header-nav-wrapper.active-pinned {
    position: absolute;
}

#premier {
    padding-top: 182px;
}

#premier .O-HERO-RW-DEV .crh-hero-banner__main-image-wrapper-triangle {
    border-bottom: 29.3rem solid #fff;
}

#premier .intro-section.hero-remove-height {
    height: 100%;
}

.O-PINBANNER-RW-ALL .pinned-wrapper .A-PINBANNER-TITLE-RW-ALL {
    font-size: 16px;
}

@media screen and (max-width: 60em) {
    .header .header-mobile-logo,
    .header .header-mobile-logo span {
        display: flex;
        align-items: center;
    }

    .header .header-mobile-sidebar-footer.header-dropdown {
        top: 493px;
    }

    .header .header-mobile-top {
        display: flex;
        align-items: center;
    }

    .header .header-sidebar-trigger {
        display: flex;
        align-items: center;
    }

    .header .close-submenu-trigger {
        z-index: 1;
    }

    .header .close-submenu-trigger.hidden {
        z-index: 0;
    }

    .header .header-mobile-sidebar.expanded,
    .header .header-mobile-sidebar.expanded + .header-mobile-overlay,
    .header .header-mobile-sidebar.submenu-expanded .close-submenu-trigger {
        text-decoration: none;
    }
}
