    .O-MASTERCARD-RW-DEV {
        margin-left: 0;
        margin-right: 0;
    }

    .O-MASTERCARD-RW-DEV .crh-master-card {
        padding-left: 0;
        padding-right: 0;
    }

    .O-COLCTRL-RW-DEV {
        margin: 0;
    }
